/*
 * base stylesheets included in every chart
 */

.dw-chart .dw-chart-body {
  overflow: hidden;
}

.dw-chart .dw-chart-header {
  min-height: 1px;
  position: relative;
}
.dw-chart .dw-chart-footer {
  min-height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}
.dw-chart .dw-chart-footer .footer-left,
.dw-chart .dw-chart-footer .footer-right {
  position: absolute;
  bottom: 5px;
  z-index: 1000;
}
.dw-chart .dw-chart-footer .footer-left {
  left: 5px;
}
.dw-chart .dw-chart-footer .footer-right {
  right: 5px;
}
.dw-chart .logo {
  position: absolute;
  right: 0;
  bottom: 0;
}
.dw-chart .logo .big {
  display: none;
}
.dw-chart .hidden {
  display: none;
}
.dw-chart .label.annotation span {
  background: transparent;
}
